@font-face {
    font-family: mael;
    src: url(../font/mael.TTF);
}

@font-face {
    font-family: eras;
    src: url(../font/erasdemi.TTF);
}

.sinborde {
   border: 0;
   padding-top: 0;
}

 
.textTitulo {
   font-family: mael;
    font-size: 55px;
    padding: 0px 15px 0px 10px;
    color: #e3e3e3;
}

body {
    overflow-x: hidden;
}


body::-webkit-scrollbar, div::-webkit-scrollbar {
    display: none;
}

.fondoHead
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0 solid;
  border-bottom: 1px solid rgba(154,95,30,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-radial-gradient(circle, rgba(38,0,76,1) 0, rgb(25, 0, 51) 40%, rgba(8,0,16,1) 100%);
  background: -moz-radial-gradient(circle, rgba(38,0,76,1) 0, rgb(25, 0, 51) 40%, rgba(8,0,16,1) 100%);
  background: radial-gradient(circle, rgba(38,0,76,1) 0, rgb(25, 0, 51) 40%, rgba(8,0,16,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.fondoCWhite a:link, .fondoCWhite a:visited{
    display: block;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.bgimg {
   /* background-image: url(../img/logo1.png);*/
}

.nav-my
{
   vertical-align: true;
   padding: 20;
   padding-bottom: 10;
    list-style-type: none;
    overflow: hidden;
    float: right;
}

.fondo
{
  background: url(../img/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.fondoMenu
{
    background-color:#f0ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
}



.entrar
{
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:100px;
   top: 550px;
     padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}


.boton
{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
   font-family: mael;
  outline: none;
  border: none;
  font-size: 25;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  text-align: left;
  text-indent: 0;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  background: rgba(13,0,26,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#log-form
{
  position:absolute;
  top: 250px;
  width: 300px;
}


.card
{
   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
 
  padding: 30px;
  overflow: hidden;
   margin: 0 auto;
   left: 0;
   right: 0;
   padding: 20;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
font-family: eras;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  background: rgba(13,0,26,0.8);
  -webkit-box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) ;
  box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}





.fondoCWhite {
 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  width:150px;
  height: 30px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding: 5px;
  overflow: hidden;
  outline: none;
  border: none;
  font-family: eras;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  
}

.fondoCWhite:hover 
{
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.active {
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.fondoCWhite:active {
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.conPadding
{
    padding: 17px;
}

.textSubTitulo 
{
    padding: 25px 20px 20px 10px;
     font-family: eras;
    color: #e3e3e3;
}


.round-img
{
    position:absolute;
    margin:0px auto;
    left: 7%;
    top: 90px;
    
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 1px solid rgba(154,95,30,1);
  box-shadow: 0 0 8px rgba(154,95,30,1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  
  z-index:1;
}

.nav-my-logged
{
  position:absolute;
    margin:0px auto;
    right: 1%;
    top: 130px;
}

.nav-my-mazo
{
  z-index:1;
  position:absolute;
    margin:0px auto;
    right: 1%;
    top: 180px;
}

.tabla-cartas{
    background: rgba(6,14,48,0.5);

    margin:0px auto;
 
 }
 
.td-cartas{

border:5px solid rgb(6,14,48);
margin-right:15px;
padding-left: 5px;
padding-right:5px; 

    
}

.letras{
   color:#FFFFFF; 
    
}



.fondoLogged
{
  background: url(../img/fondo1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.textTituloLogged {
     font-family: mael;
    top:25px;
    font-size: 300%;
    padding: 20px 15px 0px 80px;
}

.textSubTituloLogged {
     font-family: eras;
    top:10px;
    font-size: 90%;
    padding: 0px 15px 0px 80px;
}

.aLaDer
{
  position:absolute;
    color: #e3e3e3;
     margin:0px auto;
     left: 70%;
   right: 0;
   top: 1%;
   text-align: center;
}

.logoLogged
{
  position:absolute;
     margin:0px auto;
     left: 0;
   right: 65%;
}

.play
{
   position:absolute;
    margin:0px auto;
   left: 0;
   right: 0;
   top:35px;
   width:140px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-top: 10px;
   font-size: 30px;
}

.turno-activo{
	border: 5px solid white;
}

.textUser
{
     width:26%;
     height:155px; 
     text-align:center;
   font-family: eras;
    font-size: 170%;
    padding-top:35px;
    color: #e3e3e3;
}

.transparente
{
    background: rgba(0, 0, 0, 0.4);
    font-family: eras;
}

     .transparente-central{
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        padding: 10px;
      }

      h4{
         color: #ffffff;
         font-weight: bold;
         font-size:24px;
      }
      
      h6{
        color: #ffffff;
        font-size:10px;
      }
      
      .mazo-home
      {
          top:10%;
          position:absolute;
          width:200px;
          height:280px;
          transform:rotateZ(10deg) translate(35%,0%);
      }

      .color-naranja{
        color:rgb(222,170,24);
      }
      
      .color-verde{
        color:rgb(22,246,33);
      }
      
      .registro
{
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:130px;
   top: 565px;
     padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
}

#registro-form
{
  position:absolute;
  top: 150px;
  width: 300px;
}

.fondo-seleccionar-elemento{
background: rgb(13,0,26); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(13,0,26,1) 25%, rgba(19,0,61,1) 51%, rgba(13,0,26,1) 75%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(13,0,26,1)), color-stop(51%,rgba(19,0,61,1)), color-stop(75%,rgba(13,0,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d001a', endColorstr='#0d001a',GradientType=0 ); /* IE6-9 */
}

.comprar
{
     z-index:1;
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:70px;
   top: 190px; 
   padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
}


.g {
    
  		padding: 0.25em;
			overflow: hidden;
		}
		.g li {
			float: left;
			width: 50%;
			padding: 0.25em;
			text-decoration:none;
		}
		.g img {
			display: block;
			text-decoration:none;
		}
		.g li:nth-child(odd) {
			clear: left;
			text-decoration:none;
		}
	
		@media screen and (min-width: 40em) {
			.g li {
		    	width: 33.3333333333333333%; 
		    	text-decoration:none;
		  	}
		  	.g li:nth-child(3n+1) {
		  		clear: left;
		  		text-decoration:none;
		  	}
		  	.g li:nth-child(odd) {
				clear: none;
				text-decoration:none;
			}
		}
		@media screen and (min-width: 55em) {
			.g li {
		    	width: 25%;
		    	text-decoration:none;
		  	}
		  	.g li:nth-child(4n+1) {
		  		clear: left;
		  		text-decoration:none;
		  	}
		  	.g li:nth-child(3n+1) {
				clear: none;
				text-decoration:none;
			}
		}
		@media screen and (min-width: 72em) {
			.g li {
		    	width: 20%;
		    	text-decoration:none;
		  	}
		  	.g li:nth-child(5n+1) {
		  		clear: left;
		  		text-decoration:none;
		  	}
		  	.g li:nth-child(4n+1) {
				clear: none;
				text-decoration:none;
			}
		}
		@media screen and (min-width: 90em) {
			.g li {
		    	width: 16.666666666%;
		    	text-decoration:none;
		  	}
		  	.g li:nth-child(6n+1) {
		  		clear: left;
		  		text-decoration:none;
		  	}
		  	.g li:nth-child(5n+1) {
				clear: none;
				text-decoration:none;
			}
		}@font-face {
    font-family: mael;
    src: url(../font/mael.TTF);
}

@font-face {
    font-family: eras;
    src: url(../font/erasdemi.TTF);
}
.sinborde {
   border: 0;
   padding-top: 0;
}

 
.textTitulo {
   font-family: mael;
    font-size: 55px;
    padding: 0px 15px 0px 10px;
    color: #e3e3e3;
}

body {
    overflow-x: hidden;
}


body::-webkit-scrollbar, div::-webkit-scrollbar {
    display: none;
}

.fondoHead
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0 solid;
  border-bottom: 1px solid rgba(154,95,30,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-radial-gradient(circle, rgba(38,0,76,1) 0, rgb(25, 0, 51) 40%, rgba(8,0,16,1) 100%);
  background: -moz-radial-gradient(circle, rgba(38,0,76,1) 0, rgb(25, 0, 51) 40%, rgba(8,0,16,1) 100%);
  background: radial-gradient(circle, rgba(38,0,76,1) 0, rgb(25, 0, 51) 40%, rgba(8,0,16,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.fondoCWhite a:link, .fondoCWhite a:visited{
    display: block;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.bgimg {
   /* background-image: url(../img/logo1.png);*/
}

.nav-my
{
   vertical-align: true;
   padding: 20;
   padding-bottom: 10;
    list-style-type: none;
    overflow: hidden;
    float: right;
}

.fondo
{
  background: url(../img/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.fondoMenu
{
    background-color:#f0ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
}

.entrar
{
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:100px;
   top: 550px;
     padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}


.boton
{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
   font-family: mael;
  outline: none;
  border: none;
  font-size: 25;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  text-align: left;
  text-indent: 0;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  background: rgba(13,0,26,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#log-form
{
  position:absolute;
  top: 250px;
  width: 300px;
}


.card
{
   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
 
  padding: 30px;
  overflow: hidden;
   margin: 0 auto;
   left: 0;
   right: 0;
   padding: 20;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
font-family: eras;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  background: rgba(13,0,26,0.8);
  -webkit-box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) ;
  box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}





.fondoCWhite {
 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  width:150px;
  height: 30px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding: 5px;
  overflow: hidden;
  outline: none;
  border: none;
  font-family: eras;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  
}

.fondoCWhite:hover 
{
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.active {
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.fondoCWhite:active {
  background: -webkit-linear-gradient(-180deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(0deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), -moz-linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background: linear-gradient(270deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), linear-gradient(90deg, rgba(30,8,29,0) 0, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.conPadding
{
    padding: 17px;
}

.textSubTitulo 
{
    padding: 25px 20px 20px 10px;
     font-family: eras;
    color: #e3e3e3;
}


.round-img
{
    position:absolute;
    margin:0px auto;
    left: 7%;
    top: 90px;
    
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 1px solid rgba(154,95,30,1);
  box-shadow: 0 0 8px rgba(154,95,30,1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  
  z-index:1;
}

.nav-my-logged
{
  position:absolute;
    margin:0px auto;
    right: 1%;
    top: 130px;
}

.nav-my-mazo
{
  z-index:1;
  position:absolute;
    margin:0px auto;
    right: 1%;
    top: 185px;
}

.tabla-cartas{
    background: rgba(6,14,48,0.5);


        position:relative;
    top:-10px;
 
 }
 
.td-cartas{

border:5px solid rgb(6,14,48);


    
}
.td-mazo{
   padding-left: 10px;
padding-right:10px; 
 
    
}
.letras{
   color:#FFFFFF; 
    
}



.fondoLogged
{
  background: url(../img/fondo1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.textTituloLogged {
     font-family: mael;
    top:25px;
    font-size: 300%;
    padding: 20px 15px 0px 80px;
}

.textSubTituloLogged {
     font-family: eras;
    top:10px;
    font-size: 90%;
    padding: 0px 15px 0px 80px;
}

.aLaDer
{
  position:absolute;
    color: #e3e3e3;
     margin:0px auto;
     left: 70%;
   right: 0;
   top: 1%;
   text-align: center;
}

.logoLogged
{
  position:absolute;
     margin:0px auto;
     left: 0;
   right: 65%;
}

.play
{
   position:absolute;
    margin:0px auto;
   left: 0;
   right: 0;
   top:35px;
   width:140px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-top: 10px;
   font-size: 30px;
}

.textUser
{
     width:26%;
     height:155px; 
     text-align:center;
   font-family: eras;
    font-size: 170%;
    padding-top:35px;
    color: #e3e3e3;
}

.transparente
{
     background: rgba(6,14,48,0.5);
    font-family: eras;
    padding-top:10px;
   

}

     .transparente-central{
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        padding: 10px;
      }

      h4{
         color: #ffffff;
         font-weight: bold;
         font-size:24px;
      }
      
      h6{
        color: #ffffff;
        font-size:10px;
      }
      
      .mazo-home
      {
          top:10%;
          position:absolute;
          width:200px;
          height:280px;
          transform:rotateZ(10deg) translate(35%,0%);
      }

      .color-naranja{
        color:rgb(222,170,24);
      }
      
      .color-verde{
        color:rgb(22,246,33);
      }
      
      .registro
{
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:130px;
   top: 565px;
     padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
}

#registro-form
{
  position:absolute;
  top: 150px;
  width: 300px;
}

.fondo-seleccionar-elemento{
background: rgb(13,0,26); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(13,0,26,1) 25%, rgba(19,0,61,1) 51%, rgba(13,0,26,1) 75%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(13,0,26,1)), color-stop(51%,rgba(19,0,61,1)), color-stop(75%,rgba(13,0,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d001a', endColorstr='#0d001a',GradientType=0 ); /* IE6-9 */
}

.comprar
{
   z-index:1;
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:95px;
   top: 195px; 
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 18px;
}

.btnmazo
{
   z-index:1;
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:250px;
   top: 195px; 
   padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 15px;
}




.td-mazo{
   padding-left: 10px;
padding-right:10px; 
    }
    
    .seleccionado
    {
       border:5px solid rgb(230,230,230); 
	   border-color: rgb(13,0,26);
    }
    
    .round-img:hover
    {
       border:5px solid rgb(230,230,230); 
       cursor: pointer;
    }

    .boton-chat
    {
	   width:180px;
		margin-left:20px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 100px;
	   font-size: 30px;
    }
    
.input-centrado{
        text-align:center;
      }
.oro{
    position:relative;
    left:-400px;
    
}
.historia{
    width:1300px;
   color: #FFFFFF;
    font-size: 16px;
    padding-bottom:180px;
    
    
}
.historia1{
    width:1300px;
   color: #FFFFFF;
	font-size: 60px;
}
.transparente1
{
     background: rgba(6,14,48,0.7);
    font-family: eras;
   

}


.fondo-medio-transparente{
background: -moz-linear-gradient(left,  rgba(13,0,26,0.8) 0%, rgba(13,0,26,0.46) 56%, rgba(13,0,26,0.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(13,0,26,0.8)), color-stop(56%,rgba(13,0,26,0.46)), color-stop(100%,rgba(13,0,26,0.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(13,0,26,0.8) 0%,rgba(13,0,26,0.46) 56%,rgba(13,0,26,0.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(13,0,26,0.8) 0%,rgba(13,0,26,0.46) 56%,rgba(13,0,26,0.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(13,0,26,0.8) 0%,rgba(13,0,26,0.46) 56%,rgba(13,0,26,0.2) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(13,0,26,0.8) 0%,rgba(13,0,26,0.46) 56%,rgba(13,0,26,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0d001a', endColorstr='#330d001a',GradientType=1 ); /* IE6-9 */
font-family: eras;
}

.fondo-medio-transparente-derecho{
background: -moz-linear-gradient(left,  rgba(13,0,26,0.2) 0%, rgba(13,0,26,0.46) 44%, rgba(13,0,26,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(13,0,26,0.8)), color-stop(56%,rgba(13,0,26,0.46)), color-stop(100%,rgba(13,0,26,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(13,0,26,0.2) 0%,rgba(13,0,26,0.46) 44%,rgba(13,0,26,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(13,0,26,0.2) 0%,rgba(13,0,26,0.46) 44%,rgba(13,0,26,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(13,0,26,0.2) 0%,rgba(13,0,26,0.46) 44%,rgba(13,0,26,0.8) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(13,0,26,0.2) 0%,rgba(13,0,26,0.46) 44%,rgba(13,0,26,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0d001a', endColorstr='#330d001a',GradientType=1 ); /* IE6-9 */
font-family: eras;	
}

.pts{
 position:absolute;
    margin:0px auto;
    right: 1%;
    
}

.precioletra{
         color: #ffffff;
         font-weight: bold;
         font-size:20px;
      }


.nav-my-tienda
{
    
  z-index:1;
  position:absolute;
    margin:0px auto;
    right: 1%;
    top: 195px;
}

.letraacerca{
         color: #ffffff;
         font-weight: bold;
         font-size:20px;
      }
      
.cardacerca
{
   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
 
  padding: 30px;
  overflow: hidden;
   margin: 0 auto;
   left: 0;
   right: 0;
   padding: 20;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
font-family: eras;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
