
      .imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      }
      
      p{
        color:white;
        
      }
      
      .master:active
      {
       opacity:0.8;
        border:2px solid white;
        /*width:80%;
        height:60%;*/
        cursor: url(http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur), hand;
      }
      
     [ng-drop].drag-enter
     {
        transition:  all 0.2s ease; 
        /* background-color: rgb(220,220,220,0.5);*/
        border:solid 5px white;
     }
     
    
     [ng-drag]:hover
     {
        transition:  all 0.1s ease; 
        /* Making images appear bigger and transparent on mouseover */
        opacity: 0.8;
        border:solid 1px white;
        cursor: url(http://www.google.com/intl/en_ALL/mapfiles/openhand.cur), hand;
     }
     
     .master:hover +.detail
     {
       display: block;
     }
    
   
     
.detail
{
    display: none;
    width: 250px;
    height: 100px;
    background-color:rgba(50,50,50,0.8);
    border-radius:25px;
    text-align:center;
    position: absolute;
    padding:10px;
    left: -80px;
}
      
      .rotar
      {
        transform:rotate(180deg);
      }
      
      .q
      {
        transform: perspective(260px) rotateX(-20deg) translate(0%, -10%);
      }
      
      .revez
      {
          transform: perspective(260px) rotateX(-20deg) translate(0%, -10%);
      }
      
      .p
      {
        transform: perspective(260px) rotateX(20deg) translate(0%, -10%);
      }
      
           .fondo
      {
		 
         background-color: rgba(13,0,26,0.6);
        border:1px solid white;
      }

body {
    transition:all 0.2s ease-in;
	
}
 
      .espacioCartas{
        margin-left:  2px;
        margin-right: 2px;
        margin-top:  2px;
        margin-bottom: 2px;
      }
      

      #detalle
      {
         right: 300px;
         position:absolute;
      }
      
      #caja {
          color:white;
          width: 290px;
          /* height: 250px; deshabilite esta*/
          height:auto;
          
          display:block;
          position:absolute;
          top:490px;
          right: -210px;
          padding: 2px 2px 2px 2px;
          /*background-image:url("https://secure.static.tumblr.com/1d09b7eeca4893145f28a27e4131ee98/rufgwpg/v0Ln3ek0q/tumblr_static_wallpapers-room_com___dustbowl_nebula_ws_by_casperium_1920x1200.jpg");
        
          para Firefox
          -moz-border-radius: 15px 15px 15px 15px;
          para Safari y Chrome
          -webkit-border-radius: 15px 15px 15px 15px;
           para Opera 
          border-radius: 15px 15px 15px 15px;*/
      }
      
   
       .mazo:active
      {
        
        opacity:0.8;
        border:2px solid white;
        /*width:80%;
        height:60%;*/
        cursor: url(http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur), hand;
      }
      
      textarea{resize:none;}
      
      .paraEscribir
      {
        width:100%;
      }

  #progressbar .ui-progressbar-value {
    background-color: #990000;
  }
  
    #progressbar2 .ui-progressbar-value {
    background-color: #009999;
  }
  
  .color-header
      {
          background: rgb(13,0,26);color:#FFFFFF;
          border:1px solid white;

      }

      .chatContenedor
      {
        width: 100%;
        border: 0px solid blue;
        border-radius: 0px;
        padding: 10px 0px 10px 0px;
       /* overflow: scroll;  */
        height: 300px;
		  overflow-y: scroll;
		overflow-x: hidden;
      }
      
      .mazo
      {
          position:absolute;
          transform:translate(143%,66%);
      }
      
   .fondo-seleccionar-elemento{
		background: rgb(13,0,26); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(13,0,26,1) 25%, rgba(19,0,61,1) 51%, rgba(13,0,26,1) 75%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(13,0,26,1)), color-stop(51%,rgba(19,0,61,1)), color-stop(75%,rgba(13,0,26,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(13,0,26,1) 25%,rgba(19,0,61,1) 51%,rgba(13,0,26,1) 75%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d001a', endColorstr='#0d001a',GradientType=0 ); /* IE6-9 */
}


.bordeTurno
{
  border-radius: 150px;
  border: 5px solid rgba(0,145,0,1);
  box-shadow: 0 0 8px rgba(0,145,0,1);
  z-index:1;
}

.bordeNoTurno
{
  border-radius: 150px;
  border: 5px solid rgba(145,0,0,1);
  box-shadow: 0 0 8px rgba(145,0,0,1);
  z-index:1;
}



.bordeVerde
      {
         border:3px solid green;
      }
  .bordeRojo
      {
         border:3px solid red;
      }


.explotar
{
    transition: 1s;
	opacity: 0;
    transform: scale(3) rotate(10deg);
}

      